In [7]:
import pandas as pd

In [12]:
x=pd.read_csv('data_for_panda_exercise.csv')
x

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
0,022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.0,10.0,10,32,18.0,50,F
2,022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10.0,10,33,30.0,63,C
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,NaN,2.0,2,23,23.0,46,F
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9.0,9,43,34.0,77,B
5,022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10.0,10,44,27.0,71,B
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10.0,10,44,30.0,74,B
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10.0,10,45,40.0,85,A
8,022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9.0,9,37,24.0,61,C
9,022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8,44,40.0,84,A
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.0,NaN,8,46,45.0,91,A
11,022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.0,NaN,5,41,35.0,76,B
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10.0,10,40,33.0,73,B
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10.0,10,42,25.0,67,C
14,022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8.0,8,36,29.0,65,C
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,NaN,0,18,NaN,18,F
16,022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9.0,9,37,35.0,72,B
17,022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.0,11.0,11,39,31.0,70,B
18,022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.0,10.0,10,31,29.0,60,C
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10.0,10,46,45.0,91,A
20,022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9.0,9,40,31.0,71,B
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.0,11.0,11,40,20.0,60,C
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.0,NaN,7,34,23.0,57,F
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.0,10.0,10,41,21.0,62,C
24,022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11.0,11,44,33.0,77,B
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10.0,10,45,41.0,86,A
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.0,8.0,8,41,24.0,65,C
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10.0,10,45,26.0,71,B
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11.0,11,39,18.0,57,F
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.0,NaN,6,30,9.0,39,F
30,022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.0,NaN,9,40,32.0,72,B
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.0,NaN,10,44,29.0,73,B
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.0,10.0,10,21,8.0,29,F
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.0,10.0,10,34,17.0,51,F
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10.0,10,44,42.0,86,A
35,022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,NaN,10.0,10,38,28.0,66,C
36,022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.0,NaN,9,43,27.0,70,B
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.0,NaN,9,45,30.0,75,B
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.0,7.0,7,22,17.0,39,F
39,022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.0,11.0,11,43,25.0,68,C
40,022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.0,10.0,10,46,35.0,81,A
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.0,10.0,10,37,20.0,57,F
42,022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10.0,10,44,23.0,67,C
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8.0,8,45,34.0,79,B
44,022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.0,NaN,9,41,22.0,63,C
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.0,NaN,9,45,35.0,80,A
46,022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10.0,10,43,22.0,65,C
47,022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.0,7.0,7,27,19.0,46,F

In [24]:
x['Student Name'][6]

'Anas Ali Khan'

In [25]:
#index ap ek series ka dusra series ka wohi index karsaktey ho #or isitarha aap values bhi dusries ki use karsaktey hai

In [37]:
import pandas as pd
from pandas import Series,DataFrame

In [31]:
a=Series([1,2,3,4,5])
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [32]:
a=Series(a.values,index=['a','b','c','d','e'])
a

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [34]:
d=Series(['ab','bc','cd','ef','gh'],a.index)
d

a    ab
b    bc
c    cd
d    ef
e    gh
dtype: object

In [36]:
Name=Series(['faisal','iqbal','Azeem','Haris'],index=['f','i','A','H'])
Name

f    faisal
i     iqbal
A     Azeem
H     Haris
dtype: object

In [39]:
dates=pd.date_range('2018-01-01','2019-12-31',freq='M')
dates

DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
               '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31',
               '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31',
               '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31'],
              dtype='datetime64[ns]', freq='M')

In [40]:
dates=pd.date_range('2018-01-01','2019-12-31',freq='W')#Week
dates

DatetimeIndex(['2018-01-07', '2018-01-14', '2018-01-21', '2018-01-28',
               '2018-02-04', '2018-02-11', '2018-02-18', '2018-02-25',
               '2018-03-04', '2018-03-11',
               ...
               '2019-10-27', '2019-11-03', '2019-11-10', '2019-11-17',
               '2019-11-24', '2019-12-01', '2019-12-08', '2019-12-15',
               '2019-12-22', '2019-12-29'],
              dtype='datetime64[ns]', length=104, freq='W-SUN')

In [54]:
dates=pd.date_range('2018-01-01','2018-01-04',freq='D')#Day
dates

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04'], dtype='datetime64[ns]', freq='D')

In [55]:
b=Series([[80,31],[45,24],[91,45] ,[22,34]],index=dates)
b

2018-01-01    [80, 31]
2018-01-02    [45, 24]
2018-01-03    [91, 45]
2018-01-04    [22, 34]
Freq: D, dtype: object

In [56]:
b=Series([80,31,45,24],index=dates)
b

2018-01-01    80
2018-01-02    31
2018-01-03    45
2018-01-04    24
Freq: D, dtype: int64

In [57]:
b=Series({'A':1,'B':2})
b

A    1
B    2
dtype: int64

In [58]:
#jabek hi value di ha to wo index nahi hai

In [61]:
b=Series(2,b.index)#ek hi number pr bohat sara index ajaye gai
b

A    2
B    2
dtype: int64

In [62]:
# agar ham random number generate karahe hai to har dafa alag random number generta hoga to seed sai random number generate change nahi hongi

In [68]:
import numpy as np
a=np.random.seed(5)
a=np.random.randn((5))
a

array([ 0.44122749, -0.33087015,  2.43077119, -0.25209213,  0.10960984])

In [101]:
x=pd.Series(np.linspace(0,9,10))
x

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [72]:
s=pd.Series([0,1,2,3,4,5,6,7,np.nan])
s

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    NaN
dtype: float64

In [73]:
s.size

9

In [75]:
s.count() #numeric values kitni hai not a number ko return nahi karey ga

8

In [77]:
s.unique()

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7., nan])

In [78]:
s.head()

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [79]:
s.tail()

4    4.0
5    5.0
6    6.0
7    7.0
8    NaN
dtype: float64

In [81]:
s.take([1,3,5])#paticular index ki values get karey ga

1    1.0
3    3.0
5    5.0
dtype: float64

In [85]:
s=pd.Series([1,2,3],index=[1,11,12])
s

1     1
11    2
12    3
dtype: int64

In [97]:
#s.loc()#direct location get karni hai
s.iloc[1]#index location get karni hai 1 pr 1 hai 11 par 2 hai 12 par 3 hai lekin index 0 ,1,2 #ye manual indexing par kaam karta hai

2

In [98]:
s.loc[11]#ye manual index par kaam karta ha

2

In [102]:
#numpy oerations could also be perform in series

In [105]:
np.add(s+2)

ValueError: invalid number of arguments

In [109]:
result=DataFrame({'Midterm':[32,76,98,99,67],'Finals':[33,44,12,33,22]})
result

   Midterm  Finals
0       32      33
1       76      44
2       98      12
3       99      33
4       67      22

In [171]:
b=pd.Series([1,2,3,4,5],index=[1,4,5,6,7])
b1=pd.Series([4,2,32,4,5],index=[2,4,3,6,5])

In [172]:
result=DataFrame({'Midterm':b,'Finals':b1})
result

   Midterm  Finals
1      1.0     NaN
2      NaN     4.0
3      NaN    32.0
4      2.0     2.0
5      3.0     5.0
6      4.0     4.0
7      5.0     NaN

In [173]:
b=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
b1=pd.Series([4,2,32,4,5],index=['a','g','c','d','e'])

In [174]:
result=DataFrame({'Midterm':b,'Finals':b1})
result

   Midterm  Finals
a      1.0     4.0
b      2.0     NaN
c      3.0    32.0
d      4.0     4.0
e      5.0     5.0
g      NaN     2.0

In [175]:
#DataFrame kai andar dictionary hi ayegi

In [176]:
result['Midterm']#ham ne key pass ki usne reult dedia

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
g    NaN
Name: Midterm, dtype: float64

In [177]:
#columns kai darmian difference bhi lesaktey hai

In [178]:
diff=result['Midterm']-result['Finals']
diff

a    -3.0
b     NaN
c   -29.0
d     0.0
e     0.0
g     NaN
dtype: float64

In [179]:
result['difference']=diff # add colums in last within data add kardia #colums mei append karadiya

In [180]:
result

   Midterm  Finals  difference
a      1.0     4.0        -3.0
b      2.0     NaN         NaN
c      3.0    32.0       -29.0
d      4.0     4.0         0.0
e      5.0     5.0         0.0
g      NaN     2.0         NaN

In [181]:
result.columns #colums kai headers nikal kai arahey hai

Index(['Midterm', 'Finals', 'difference'], dtype='object')

In [182]:
result.index

Index(['a', 'b', 'c', 'd', 'e', 'g'], dtype='object')

In [169]:
[result.Midterm > 2]

[a    False
 b    False
 c     True
 d     True
 e     True
 g    False
 Name: Midterm, dtype: bool]

In [170]:
result=[result.Midterm>2]
result

[a    False
 b    False
 c     True
 d     True
 e     True
 g    False
 Name: Midterm, dtype: bool]

In [141]:
result

[a    False
 b    False
 c     True
 d     True
 e     True
 g    False
 Name: Midterm, dtype: bool]

In [190]:
result

   Midterm  Finals  difference
a      1.0     4.0        -3.0
b      2.0     NaN         NaN
c      3.0    32.0       -29.0
d      4.0     4.0         0.0
e      5.0     5.0         0.0
g      NaN     2.0         NaN

In [191]:
my=[result.Midterm>2]
result(my)

TypeError: 'DataFrame' object is not callable

In [197]:
my=result[result.Midterm>2]
my

   Midterm  Finals  difference
c      3.0    32.0       -29.0
d      4.0     4.0         0.0
e      5.0     5.0         0.0