In [1]:
import pandas as pd
from pandas import DataFrame, Series
s = Series([1, 2, 3, 4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [2]:
a = Series( s.values , index = ['a', 'b', 'c' , 'd'])
a

a    1
b    2
c    3
d    4
dtype: int64

In [3]:
dates = pd.date_range('2019-07-01', '2019-07-07' )
dates

DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-05', '2019-07-06', '2019-07-07'],
              dtype='datetime64[ns]', freq='D')

In [4]:
b = Series([80, 82, 85, 90, 83, 87,90],index = dates)
b

2019-07-01    80
2019-07-02    82
2019-07-03    85
2019-07-04    90
2019-07-05    83
2019-07-06    87
2019-07-07    90
Freq: D, dtype: int64

In [5]:
b.mean()

85.28571428571429

In [6]:
b2 = Series([70, 75, 69, 83, 79, 77,95],index = dates)
b2

2019-07-01    70
2019-07-02    75
2019-07-03    69
2019-07-04    83
2019-07-05    79
2019-07-06    77
2019-07-07    95
Freq: D, dtype: int64

In [7]:
b2['2019-07-01':'2019-07-05']

2019-07-01    70
2019-07-02    75
2019-07-03    69
2019-07-04    83
2019-07-05    79
Freq: D, dtype: int64

In [8]:
result = DataFrame({'Midterm': b,'Finals': b2})
result

            Midterm  Finals
2019-07-01       80      70
2019-07-02       82      75
2019-07-03       85      69
2019-07-04       90      83
2019-07-05       83      79
2019-07-06       87      77
2019-07-07       90      95

In [9]:
result['Midterm']

2019-07-01    80
2019-07-02    82
2019-07-03    85
2019-07-04    90
2019-07-05    83
2019-07-06    87
2019-07-07    90
Freq: D, Name: Midterm, dtype: int64

In [10]:
diff = result.Midterm - result.Finals
diff

2019-07-01    10
2019-07-02     7
2019-07-03    16
2019-07-04     7
2019-07-05     4
2019-07-06    10
2019-07-07    -5
Freq: D, dtype: int64

In [11]:
mult = result.Midterm * result.Finals
mult

2019-07-01    5600
2019-07-02    6150
2019-07-03    5865
2019-07-04    7470
2019-07-05    6557
2019-07-06    6699
2019-07-07    8550
Freq: D, dtype: int64

In [12]:
new = DataFrame({'Midterm': b,'Finals': b2 , 'difference': diff , 'Multiply': mult})
new

            Midterm  Finals  difference  Multiply
2019-07-01       80      70          10      5600
2019-07-02       82      75           7      6150
2019-07-03       85      69          16      5865
2019-07-04       90      83           7      7470
2019-07-05       83      79           4      6557
2019-07-06       87      77          10      6699
2019-07-07       90      95          -5      8550

In [13]:
new.columns

Index(['Midterm', 'Finals', 'difference', 'Multiply'], dtype='object')

In [14]:
new.difference['2019-07-02':"2019-07-06"]

2019-07-02     7
2019-07-03    16
2019-07-04     7
2019-07-05     4
2019-07-06    10
Freq: D, Name: difference, dtype: int64

In [15]:
new.iloc[6]

Midterm         90
Finals          95
difference      -5
Multiply      8550
Name: 2019-07-07 00:00:00, dtype: int64

In [16]:
new.loc['2019-07-03']

Midterm         85
Finals          69
difference      16
Multiply      5865
Name: 2019-07-03 00:00:00, dtype: int64

In [17]:
new.iloc[[1, 3, 5]].difference

2019-07-02     7
2019-07-04     7
2019-07-06    10
Freq: 2D, Name: difference, dtype: int64

In [18]:
new.iloc[[2,4,0]].Midterm

2019-07-03    85
2019-07-05    83
2019-07-01    80
Name: Midterm, dtype: int64

In [19]:
new.loc['2019-07-04': '2019-07-06']

            Midterm  Finals  difference  Multiply
2019-07-04       90      83           7      7470
2019-07-05       83      79           4      6557
2019-07-06       87      77          10      6699

In [20]:
[new.Midterm > 82]

[2019-07-01    False
 2019-07-02    False
 2019-07-03     True
 2019-07-04     True
 2019-07-05     True
 2019-07-06     True
 2019-07-07     True
 Freq: D, Name: Midterm, dtype: bool]

In [21]:
new[new.Midterm > 82]

            Midterm  Finals  difference  Multiply
2019-07-03       85      69          16      5865
2019-07-04       90      83           7      7470
2019-07-05       83      79           4      6557
2019-07-06       87      77          10      6699
2019-07-07       90      95          -5      8550

In [22]:
obj = pd.Series([4, 7, -5, 3 , 4, 7, 6],index = pd.RangeIndex(start = 0 , stop = 14 , step = 2))
obj.values

array([ 4,  7, -5,  3,  4,  7,  6], dtype=int64)

In [23]:
obj.index

RangeIndex(start=0, stop=14, step=2)

In [24]:
obj1 = pd.Series([4, 7, -5, 6],index = ['a' , 'b' , 'c' ,'a'])
obj1.values

array([ 4,  7, -5,  6], dtype=int64)

In [25]:
obj1['e'] = 34

In [26]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
sdata

{'Ohio': 35000, 'Oregon': 16000, 'Texas': 71000, 'Utah': 5000}

In [27]:
states = ['California', 'Ohio', 'Oregon', 'Utah', 'Texas']
states

['California', 'Ohio', 'Oregon', 'Utah', 'Texas']

In [28]:
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Utah           5000.0
Texas         71000.0
dtype: float64